<center>
  <h1>登入 </h1>
  <%= form_tag :method => :post  do %>
  <fieldset>
      <%= label_tag :用户名 %>
    <p>
      <%= text_field_tag :usrname, params[:usrname] %>
    </p>
      <%= label_tag :密码 %>
    <p>
      <%= password_field_tag :passwd %>
    </p>
    <p>
      <!-- <p><%= link_to "forgotten password?", new_password_reset_path %></p> -->
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      <%= label_tag :remember_me %>
    </p>
  </fieldset>
  <div class="action"><%= submit_tag "登录" %></div>
  <% end %>

  <p><%= link_to '返回', index_path %></p>
</center>
