/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
$body-bg-repeat: repeat-x;
@import "body/bg.png";

@include all-body-sprites;*/
@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/form";
@import "blueprint/ie";
@import "compass/css3";
@import "compass/utilities";
@import "sassy-buttons";
body {
    @include blueprint-typography(true);
    @include blueprint-debug;
    @include blueprint-interaction;

    form {
        @include blueprint-form;
    }

    form.inline {
        @include blueprint-inline-form;
    }
    //text-align: center;
    //background-color: #EBEBEB;
    //margin: 0;


    .container {
        @include container;
        //@include showgrid();
        //#header, #footer {
            //  @include column(16); }
        #content {
            @include column(11); } 
        #sidebar {
            @include column(4,true); 
            @include float-right;
        }
    }

    background: #2c4762 url(/image/bg.png) repeat-x;
}

.container{
    @include border-radius(17px);
    background: #2C4762;
    padding: 20px;
    display: block;
    width: 900px;
    //text-align: center;
    //margin: 0 auto;
}

#user_nav a{
    color: white;
    text-decoration:none;
}

.append-1 {padding-left:20px;}
.append-2 {padding-right:10px;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 17px;border:none;}
body {
    h1{
    font-weight: bolder;
    color: white;
    }
    h3{
        font-weight: bolder;
        color: #c0c8d0;
        border-bottom:1px dashed;
        padding-bottom: 6px;
        margin-right:20px;
    }
}
.alt {
  color: white;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
#user_nav {
    @include sassy-button("glass", 10px, 19px, #4ba3cc);
    margin: 10px;
    //text-align:right
    float: right;
}
.head{
    width: 900px;
    margin: 10px auto;
}
.flash{
    margin:0 auto;
    text-align: center;
}
adminnotice{
    background: #F5EBA3;
    // url(/image/warning.png) center no-repeat;
    background-position: 15px 50%;
    //padding: 5px 20px 5px 80px;
    border-top: 2px solid #ffd324;
    border-bottom: 2px solid #ffd324;
    margin: 0 auto;
    width:550px;
    //text-align:left;
    color: #5C644C;
    display:block;
}
.info{
    //width: 550px;
    text-align: left;
}
.libar{
    display:block;
    overflow:hidden;
}
.liname{
    float:left;
    display: inline-block;
}
.liprog{
    margin-right:5px;
    float:right;
    display: inline-block;
}
sf{
    color:#c52f24;
    a{
        color:#c52f24;
    }
}
.rewardbox{
    display: none;
}
.btclear{
    @include sassy-button("shiny", 6px, 15px, #4ba3cc );
}

button {
    font-weight: bold;
    display: block;
    width:100px;
    height:35px;
}

sudobox {
    //margin-top: 1px;// auto 0 auto;
    //width: 100%;
    //800px;
    display: block;
    //background: #4d4d4d;
    //url(/image/bgx02.png) repeat-x center bottom;
    //background-image: -webkit-gradient(linear,left top,left bottom,from(#555),to(#333));
}
sudobtgroup{
    padding-top: 20px;
    //padding-bottom: 100px;
    display:block;
    height: 135px;
}

.cl_table {
    margin: 0;
    //border: 0;
    border: 3px solid black;
    border-spacing: 0;
    background: #72868F;
    width: auto;
    //text-align: center;
    input {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 2.7em;
        padding: 0;
        vertical-align: middle;
        border: 0;
        margin: 0;
        line-height: 50px;
        //border-width: 1px;
    }
    td{
        border: 0;
        padding: 1px;
        margin: 0;
        //border-width: 0px;
        
    }
    
    
}

td{
    @for $i from 0 through 60 {
        @if (($i == 0) or ($i == 6) or ($i == 30) or ($i == 54) or ($i == 60)){
            $bakcol : #A1CFC2;
            //#A2C2DF
            @for $ki from 0 through 2 {
                @for $kj from 0 through 2 {
                    #c#{$ki + 9*$kj + $i} { background: $bakcol; }
                }
            }
        }
        @if (($i == 3) or ($i == 27) or ($i == 33) or ($i == 57)){
            $bakcol : #BFDEBF;
            //#A2C2DF
            @for $ki from 0 through 2 {
                @for $kj from 0 through 2 {
                    #c#{$ki + 9*$kj + $i} { background: $bakcol; }
                }
            }
        }
    }
    

}

table {
    .blank{
        color:blue;
    }
}

.infobox{
    padding:5px 2px 5px 10px;
    margin:10px;
    @include border-radius(5px);
    @include background-image(linear-gradient(#5385b5, #3a5976 40px, #3a5976));

}
.infoboxr{
    padding:5px 2px 5px 10px;
    @include background-image(linear-gradient(#5385b5, #3a5976 30%, #3a5976));
    @include border-radius(5px);
}


.rank{
    tr th{
        width: 180px;
        text-align: center;
    }
    td{
        text-align: center;
    }
} 

.footer{
    //clear:both;
    //display: block;
    margin:10px;
    //float:left;
}