<% @datalist.each do |lii| %>
<% issf = false  %>
<% issf = (lii.rank_id == current_user.id) if current_user %>
<div class="libar">
  <% if issf %>
  <sf>
    <% end %>
    <div class="liname">
      <% usr = Rank.find(lii.rank_id) %>
      <% pg = lii.progress / 10 %>
      <%= link_to usr.usrname, usr %>
    </div>
    <div class="liprog">
      [<%=  raw('-' * pg  + '>' + '&nbsp;' * (10 - pg)) %>] <%= lii.progress %>%
    </div>
    <% if issf %>
  </sf>
  <% end %>
</div>
<% end %>
