


<div class="append-1 append-2" id="content">
  <center>
    <div class="rewardbox">
      <div class = "error"><strong>:) 厉害，成功解决了一个Sudoku!!</strong></div>
      <% if not current_user %>
      <p> 但是仅注册用户的记录才会保存, 你可以立刻<%= link_to "免费注册", signup_path %>或者<%= link_to "登入", login_path %> </p>
      <% else  %>
      <div class="ajresp"><p>正在检查你的结果 ...</p></div>
      <% end %>
      <%= link_to '继续下一个挑战', index_path %>
    </div>
    <sudobox>
      <table class= "cl_table" border="1" cols="9">
        <tbody>
          <% tbid = 0 %>
          <% for eles in @sudolatest.line.split("\n") %>
          <tr>
            <% for ele in eles.split(" ") %>
            <td id ="<%= 't' + tbid.to_s %>" > 
              <input type="text" id = "<%= 'c' + tbid.to_s %>" size="1" maxlength="1" autocomplete="off" value = <% if ele.to_i==0 then %> "" class = "cell blank" <% else %> "<%= ele %>" readonly  class="cell fixed" <% end %> >
            </td>
            <% tbid +=1 %>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>

    </sudobox>
    <sudobtgroup> 
      <button class="btclear">Clear</button>
    </sudobtgroup>
  </center>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'dbian';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
<div id="sidebar">
  <div class="infobox">
    <h3>进度排名</h3>
    <div class="ollist">
      Fetching...
    </div>
  </div>
  <div class="infobox">
    <h3>友情提醒</h3>
    <ol>
      <li>数独更新方式为惰性更新，即当前数独被干掉之后才会生成新的数独</li>
      <li>多人先后解决同一个数独，仅第一位用户得分。<a><strong>未登录用户的游戏结果不会记录</strong></a></li>
      <li>建议使用Chrome, Firedox, IE8+, Safari</li>
    </ol>
  </div>
  
    <div class="infobox" id="recent_usr_bar">
      <h3>本周 MVP</h3>
      <% if @usr_active_week %>
      <% @usr_active_week.each do |sudoz| %>
      <ul>
        <% if (not sudoz.rank.nil?) and (sudoz.sudonum != 0) %>
        <li><%= link_to sudoz.rank.usrname, sudoz.rank %>: <%= sudoz.sudonum %></li>
        <% end %>
      </ul>
      <% end %>

      <% end %>
    </div>
    <div class="infobox" id="rank_bar">
      <h3>Sudokuer Top 50</h3>
      <ol>
        <% @ranks.each do |rank| %>
        <li><%= link_to rank.usrname, rank %> (<%= rank.num %>)</li>
        <% end %>
      </ol>
    </div>
    <div class="infobox" id="sudo_daily_bar">
      <h3>Daily Pushed Sudoku</h3>
      <% if @sudo_today %>
      <% @sudo_today.each do |sudo| %>
      <% if not sudo.rank.nil? %>      
      <ul>
        <li>
          <%= sudo.line.gsub(" ","").gsub("0",".") %>-

          <%= link_to sudo.rank.usrname, sudo.rank %>

        </li>
      </ul>
      <% end %>
      <% end %>
      <% end %>
    </div>
</div>


