<center>
  <h1>快速加入Push Suduko</h1>



  <%= form_for :rank do |f| %>
  <fieldset>
    <%= f.label "昵称"%><br />
    <%= f.text_field :usrname %><br />
    <p>
      <%= f.label "email(用于重置密码) "%><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label "密码(at least 4 word)" %><br />
      <%= f.password_field :passwd %>
    </p>
    <p>
      <%= f.label "密码确认" %><br />
      <%= f.password_field :password_confirmation %>
    </p>
  </fieldset>

  <div class="actions">
    <%= f.submit "完成" %>
  </div>
  <% end %>

 <p> <%= link_to '返回', index_path %></p>
</center>
