<center>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rank.usrname %>
  <br>
  Pushed puzzles: <%= @rank.num %>
  <br>
  Rigistered at: <%= @rank.created_on %>
  <br>
  Last time she/he pushed puzzles at: <%= (@rank.updated_at).in_time_zone('Beijing') %>
</p>


<p><%= link_to 'Back', index_path %></p>
</center>
