// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-container-size: 900px;
$blueprint-grid-margin: 10px;
$blueprint_grid_columns: 16;
$blueprint_grid_width: 50px;

$font-color:#c0c8d0;
$link-color:#c0c8d0;
$link-hover-color: white;
// link-visited-color

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;
