/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
$body-bg-repeat: repeat-x;
@import "body/bg.png";

@include all-body-sprites;*/
/* line 4, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 18, ../../../cp_prj/sass/screen.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #c0c8d0;
  font-size: 75%;
  background: #2c4762 url(/image/bg.png) repeat-x;
}
/* line 51, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #adb7c1;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 53, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #c0c8d0;
}
/* line 18, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #a3afba;
}
/* line 21, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: white;
}
/* line 24, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: white;
}
/* line 27, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #e4dde6;
}
/* line 63, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong, body dfn {
  font-weight: bold;
}
/* line 65, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em, body dfn {
  font-style: italic;
}
/* line 66, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 67, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 70, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 73, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 81, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table.striped tr:nth-child(even) td,
body table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 87, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 88, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #fafbfc;
}
/* line 89, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #99a6b3;
}
/* line 25, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 910 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(5.151%, rgba(100, 100, 225, 0.25)), color-stop(5.151%, rgba(0, 0, 0, 0)), color-stop(6.25%, rgba(0, 0, 0, 0)), color-stop(6.25%, rgba(100, 100, 225, 0.25)), color-stop(11.401%, rgba(100, 100, 225, 0.25)), color-stop(11.401%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(17.651%, rgba(100, 100, 225, 0.25)), color-stop(17.651%, rgba(0, 0, 0, 0)), color-stop(18.75%, rgba(0, 0, 0, 0)), color-stop(18.75%, rgba(100, 100, 225, 0.25)), color-stop(23.901%, rgba(100, 100, 225, 0.25)), color-stop(23.901%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(30.151%, rgba(100, 100, 225, 0.25)), color-stop(30.151%, rgba(0, 0, 0, 0)), color-stop(31.25%, rgba(0, 0, 0, 0)), color-stop(31.25%, rgba(100, 100, 225, 0.25)), color-stop(36.401%, rgba(100, 100, 225, 0.25)), color-stop(36.401%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(42.651%, rgba(100, 100, 225, 0.25)), color-stop(42.651%, rgba(0, 0, 0, 0)), color-stop(43.75%, rgba(0, 0, 0, 0)), color-stop(43.75%, rgba(100, 100, 225, 0.25)), color-stop(48.901%, rgba(100, 100, 225, 0.25)), color-stop(48.901%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(55.151%, rgba(100, 100, 225, 0.25)), color-stop(55.151%, rgba(0, 0, 0, 0)), color-stop(56.25%, rgba(0, 0, 0, 0)), color-stop(56.25%, rgba(100, 100, 225, 0.25)), color-stop(61.401%, rgba(100, 100, 225, 0.25)), color-stop(61.401%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(67.651%, rgba(100, 100, 225, 0.25)), color-stop(67.651%, rgba(0, 0, 0, 0)), color-stop(68.75%, rgba(0, 0, 0, 0)), color-stop(68.75%, rgba(100, 100, 225, 0.25)), color-stop(73.901%, rgba(100, 100, 225, 0.25)), color-stop(73.901%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(80.151%, rgba(100, 100, 225, 0.25)), color-stop(80.151%, rgba(0, 0, 0, 0)), color-stop(81.25%, rgba(0, 0, 0, 0)), color-stop(81.25%, rgba(100, 100, 225, 0.25)), color-stop(86.401%, rgba(100, 100, 225, 0.25)), color-stop(86.401%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(92.651%, rgba(100, 100, 225, 0.25)), color-stop(92.651%, rgba(0, 0, 0, 0)), color-stop(93.75%, rgba(0, 0, 0, 0)), color-stop(93.75%, rgba(100, 100, 225, 0.25)), color-stop(98.901%, rgba(100, 100, 225, 0.25)), color-stop(98.901%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 46.875px, rgba(0, 0, 0, 0) 46.875px, rgba(0, 0, 0, 0) 56.875px, rgba(100, 100, 225, 0.25) 56.875px, rgba(100, 100, 225, 0.25) 103.75px, rgba(0, 0, 0, 0) 103.75px, rgba(0, 0, 0, 0) 113.75px, rgba(100, 100, 225, 0.25) 113.75px, rgba(100, 100, 225, 0.25) 160.625px, rgba(0, 0, 0, 0) 160.625px, rgba(0, 0, 0, 0) 170.625px, rgba(100, 100, 225, 0.25) 170.625px, rgba(100, 100, 225, 0.25) 217.5px, rgba(0, 0, 0, 0) 217.5px, rgba(0, 0, 0, 0) 227.5px, rgba(100, 100, 225, 0.25) 227.5px, rgba(100, 100, 225, 0.25) 274.375px, rgba(0, 0, 0, 0) 274.375px, rgba(0, 0, 0, 0) 284.375px, rgba(100, 100, 225, 0.25) 284.375px, rgba(100, 100, 225, 0.25) 331.25px, rgba(0, 0, 0, 0) 331.25px, rgba(0, 0, 0, 0) 341.25px, rgba(100, 100, 225, 0.25) 341.25px, rgba(100, 100, 225, 0.25) 388.125px, rgba(0, 0, 0, 0) 388.125px, rgba(0, 0, 0, 0) 398.125px, rgba(100, 100, 225, 0.25) 398.125px, rgba(100, 100, 225, 0.25) 445px, rgba(0, 0, 0, 0) 445px, rgba(0, 0, 0, 0) 455px, rgba(100, 100, 225, 0.25) 455px, rgba(100, 100, 225, 0.25) 501.875px, rgba(0, 0, 0, 0) 501.875px, rgba(0, 0, 0, 0) 511.875px, rgba(100, 100, 225, 0.25) 511.875px, rgba(100, 100, 225, 0.25) 558.75px, rgba(0, 0, 0, 0) 558.75px, rgba(0, 0, 0, 0) 568.75px, rgba(100, 100, 225, 0.25) 568.75px, rgba(100, 100, 225, 0.25) 615.625px, rgba(0, 0, 0, 0) 615.625px, rgba(0, 0, 0, 0) 625.625px, rgba(100, 100, 225, 0.25) 625.625px, rgba(100, 100, 225, 0.25) 672.5px, rgba(0, 0, 0, 0) 672.5px, rgba(0, 0, 0, 0) 682.5px, rgba(100, 100, 225, 0.25) 682.5px, rgba(100, 100, 225, 0.25) 729.375px, rgba(0, 0, 0, 0) 729.375px, rgba(0, 0, 0, 0) 739.375px, rgba(100, 100, 225, 0.25) 739.375px, rgba(100, 100, 225, 0.25) 786.25px, rgba(0, 0, 0, 0) 786.25px, rgba(0, 0, 0, 0) 796.25px, rgba(100, 100, 225, 0.25) 796.25px, rgba(100, 100, 225, 0.25) 843.125px, rgba(0, 0, 0, 0) 843.125px, rgba(0, 0, 0, 0) 853.125px, rgba(100, 100, 225, 0.25) 853.125px, rgba(100, 100, 225, 0.25) 900px, rgba(0, 0, 0, 0) 900px, rgba(0, 0, 0, 0) 910px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 46.875px, rgba(0, 0, 0, 0) 46.875px, rgba(0, 0, 0, 0) 56.875px, rgba(100, 100, 225, 0.25) 56.875px, rgba(100, 100, 225, 0.25) 103.75px, rgba(0, 0, 0, 0) 103.75px, rgba(0, 0, 0, 0) 113.75px, rgba(100, 100, 225, 0.25) 113.75px, rgba(100, 100, 225, 0.25) 160.625px, rgba(0, 0, 0, 0) 160.625px, rgba(0, 0, 0, 0) 170.625px, rgba(100, 100, 225, 0.25) 170.625px, rgba(100, 100, 225, 0.25) 217.5px, rgba(0, 0, 0, 0) 217.5px, rgba(0, 0, 0, 0) 227.5px, rgba(100, 100, 225, 0.25) 227.5px, rgba(100, 100, 225, 0.25) 274.375px, rgba(0, 0, 0, 0) 274.375px, rgba(0, 0, 0, 0) 284.375px, rgba(100, 100, 225, 0.25) 284.375px, rgba(100, 100, 225, 0.25) 331.25px, rgba(0, 0, 0, 0) 331.25px, rgba(0, 0, 0, 0) 341.25px, rgba(100, 100, 225, 0.25) 341.25px, rgba(100, 100, 225, 0.25) 388.125px, rgba(0, 0, 0, 0) 388.125px, rgba(0, 0, 0, 0) 398.125px, rgba(100, 100, 225, 0.25) 398.125px, rgba(100, 100, 225, 0.25) 445px, rgba(0, 0, 0, 0) 445px, rgba(0, 0, 0, 0) 455px, rgba(100, 100, 225, 0.25) 455px, rgba(100, 100, 225, 0.25) 501.875px, rgba(0, 0, 0, 0) 501.875px, rgba(0, 0, 0, 0) 511.875px, rgba(100, 100, 225, 0.25) 511.875px, rgba(100, 100, 225, 0.25) 558.75px, rgba(0, 0, 0, 0) 558.75px, rgba(0, 0, 0, 0) 568.75px, rgba(100, 100, 225, 0.25) 568.75px, rgba(100, 100, 225, 0.25) 615.625px, rgba(0, 0, 0, 0) 615.625px, rgba(0, 0, 0, 0) 625.625px, rgba(100, 100, 225, 0.25) 625.625px, rgba(100, 100, 225, 0.25) 672.5px, rgba(0, 0, 0, 0) 672.5px, rgba(0, 0, 0, 0) 682.5px, rgba(100, 100, 225, 0.25) 682.5px, rgba(100, 100, 225, 0.25) 729.375px, rgba(0, 0, 0, 0) 729.375px, rgba(0, 0, 0, 0) 739.375px, rgba(100, 100, 225, 0.25) 739.375px, rgba(100, 100, 225, 0.25) 786.25px, rgba(0, 0, 0, 0) 786.25px, rgba(0, 0, 0, 0) 796.25px, rgba(100, 100, 225, 0.25) 796.25px, rgba(100, 100, 225, 0.25) 843.125px, rgba(0, 0, 0, 0) 843.125px, rgba(0, 0, 0, 0) 853.125px, rgba(100, 100, 225, 0.25) 853.125px, rgba(100, 100, 225, 0.25) 900px, rgba(0, 0, 0, 0) 900px, rgba(0, 0, 0, 0) 910px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 46.875px, rgba(0, 0, 0, 0) 46.875px, rgba(0, 0, 0, 0) 56.875px, rgba(100, 100, 225, 0.25) 56.875px, rgba(100, 100, 225, 0.25) 103.75px, rgba(0, 0, 0, 0) 103.75px, rgba(0, 0, 0, 0) 113.75px, rgba(100, 100, 225, 0.25) 113.75px, rgba(100, 100, 225, 0.25) 160.625px, rgba(0, 0, 0, 0) 160.625px, rgba(0, 0, 0, 0) 170.625px, rgba(100, 100, 225, 0.25) 170.625px, rgba(100, 100, 225, 0.25) 217.5px, rgba(0, 0, 0, 0) 217.5px, rgba(0, 0, 0, 0) 227.5px, rgba(100, 100, 225, 0.25) 227.5px, rgba(100, 100, 225, 0.25) 274.375px, rgba(0, 0, 0, 0) 274.375px, rgba(0, 0, 0, 0) 284.375px, rgba(100, 100, 225, 0.25) 284.375px, rgba(100, 100, 225, 0.25) 331.25px, rgba(0, 0, 0, 0) 331.25px, rgba(0, 0, 0, 0) 341.25px, rgba(100, 100, 225, 0.25) 341.25px, rgba(100, 100, 225, 0.25) 388.125px, rgba(0, 0, 0, 0) 388.125px, rgba(0, 0, 0, 0) 398.125px, rgba(100, 100, 225, 0.25) 398.125px, rgba(100, 100, 225, 0.25) 445px, rgba(0, 0, 0, 0) 445px, rgba(0, 0, 0, 0) 455px, rgba(100, 100, 225, 0.25) 455px, rgba(100, 100, 225, 0.25) 501.875px, rgba(0, 0, 0, 0) 501.875px, rgba(0, 0, 0, 0) 511.875px, rgba(100, 100, 225, 0.25) 511.875px, rgba(100, 100, 225, 0.25) 558.75px, rgba(0, 0, 0, 0) 558.75px, rgba(0, 0, 0, 0) 568.75px, rgba(100, 100, 225, 0.25) 568.75px, rgba(100, 100, 225, 0.25) 615.625px, rgba(0, 0, 0, 0) 615.625px, rgba(0, 0, 0, 0) 625.625px, rgba(100, 100, 225, 0.25) 625.625px, rgba(100, 100, 225, 0.25) 672.5px, rgba(0, 0, 0, 0) 672.5px, rgba(0, 0, 0, 0) 682.5px, rgba(100, 100, 225, 0.25) 682.5px, rgba(100, 100, 225, 0.25) 729.375px, rgba(0, 0, 0, 0) 729.375px, rgba(0, 0, 0, 0) 739.375px, rgba(100, 100, 225, 0.25) 739.375px, rgba(100, 100, 225, 0.25) 786.25px, rgba(0, 0, 0, 0) 786.25px, rgba(0, 0, 0, 0) 796.25px, rgba(100, 100, 225, 0.25) 796.25px, rgba(100, 100, 225, 0.25) 843.125px, rgba(0, 0, 0, 0) 843.125px, rgba(0, 0, 0, 0) 853.125px, rgba(100, 100, 225, 0.25) 853.125px, rgba(100, 100, 225, 0.25) 900px, rgba(0, 0, 0, 0) 900px, rgba(0, 0, 0, 0) 910px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 46.875px, rgba(0, 0, 0, 0) 46.875px, rgba(0, 0, 0, 0) 56.875px, rgba(100, 100, 225, 0.25) 56.875px, rgba(100, 100, 225, 0.25) 103.75px, rgba(0, 0, 0, 0) 103.75px, rgba(0, 0, 0, 0) 113.75px, rgba(100, 100, 225, 0.25) 113.75px, rgba(100, 100, 225, 0.25) 160.625px, rgba(0, 0, 0, 0) 160.625px, rgba(0, 0, 0, 0) 170.625px, rgba(100, 100, 225, 0.25) 170.625px, rgba(100, 100, 225, 0.25) 217.5px, rgba(0, 0, 0, 0) 217.5px, rgba(0, 0, 0, 0) 227.5px, rgba(100, 100, 225, 0.25) 227.5px, rgba(100, 100, 225, 0.25) 274.375px, rgba(0, 0, 0, 0) 274.375px, rgba(0, 0, 0, 0) 284.375px, rgba(100, 100, 225, 0.25) 284.375px, rgba(100, 100, 225, 0.25) 331.25px, rgba(0, 0, 0, 0) 331.25px, rgba(0, 0, 0, 0) 341.25px, rgba(100, 100, 225, 0.25) 341.25px, rgba(100, 100, 225, 0.25) 388.125px, rgba(0, 0, 0, 0) 388.125px, rgba(0, 0, 0, 0) 398.125px, rgba(100, 100, 225, 0.25) 398.125px, rgba(100, 100, 225, 0.25) 445px, rgba(0, 0, 0, 0) 445px, rgba(0, 0, 0, 0) 455px, rgba(100, 100, 225, 0.25) 455px, rgba(100, 100, 225, 0.25) 501.875px, rgba(0, 0, 0, 0) 501.875px, rgba(0, 0, 0, 0) 511.875px, rgba(100, 100, 225, 0.25) 511.875px, rgba(100, 100, 225, 0.25) 558.75px, rgba(0, 0, 0, 0) 558.75px, rgba(0, 0, 0, 0) 568.75px, rgba(100, 100, 225, 0.25) 568.75px, rgba(100, 100, 225, 0.25) 615.625px, rgba(0, 0, 0, 0) 615.625px, rgba(0, 0, 0, 0) 625.625px, rgba(100, 100, 225, 0.25) 625.625px, rgba(100, 100, 225, 0.25) 672.5px, rgba(0, 0, 0, 0) 672.5px, rgba(0, 0, 0, 0) 682.5px, rgba(100, 100, 225, 0.25) 682.5px, rgba(100, 100, 225, 0.25) 729.375px, rgba(0, 0, 0, 0) 729.375px, rgba(0, 0, 0, 0) 739.375px, rgba(100, 100, 225, 0.25) 739.375px, rgba(100, 100, 225, 0.25) 786.25px, rgba(0, 0, 0, 0) 786.25px, rgba(0, 0, 0, 0) 796.25px, rgba(100, 100, 225, 0.25) 796.25px, rgba(100, 100, 225, 0.25) 843.125px, rgba(0, 0, 0, 0) 843.125px, rgba(0, 0, 0, 0) 853.125px, rgba(100, 100, 225, 0.25) 853.125px, rgba(100, 100, 225, 0.25) 900px, rgba(0, 0, 0, 0) 900px, rgba(0, 0, 0, 0) 910px);
  -webkit-background-size: 100% 18px, auto;
  -moz-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
/* line 4, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .feedback, body .error, body .alert, body .notice, body .success, body .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error, body .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error a, body .alert a {
  color: #8a1f11;
}
/* line 7, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a {
  color: #514721;
}
/* line 8, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success a {
  color: #264409;
}
/* line 9, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .info a {
  color: #205791;
}
/* line 10, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .hide {
  display: none;
}
/* line 11, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .highlight {
  background: yellow;
}
/* line 12, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .removed {
  background: #990000;
  color: white;
}
/* line 18, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form label {
  font-weight: bold;
}
/* line 19, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form input.text, body form input.title, body form input[type=email], body form input[type=text], body form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form input.text, body form input.title, body form input[type=email], body form input[type=text], body form input[type=password],
body form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form input.text:focus, body form input.title:focus, body form input[type=email]:focus, body form input[type=text]:focus, body form input[type=password]:focus,
body form textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form input.text, body form input.title, body form input[type=email], body form input[type=text], body form input[type=password] {
  width: 300px;
}
/* line 46, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form textarea {
  width: 390px;
  height: 250px;
}
/* line 27, ../../../cp_prj/sass/screen.scss */
body form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body form.inline p {
  margin-bottom: 0;
}
/* line 35, ../../../cp_prj/sass/screen.scss */
body .container {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 40, ../../../cp_prj/sass/screen.scss */
body .container #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 615.625px;
}
/* line 147, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .container #content {
  overflow-x: hidden;
}
/* line 42, ../../../cp_prj/sass/screen.scss */
body .container #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 217.5px;
  display: inline;
  float: right;
}
/* line 147, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .container #sidebar {
  overflow-x: hidden;
}

/* line 51, ../../../cp_prj/sass/screen.scss */
.container {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  background: #2C4762;
  padding: 20px;
  display: block;
  width: 900px;
}

/* line 61, ../../../cp_prj/sass/screen.scss */
#user_nav a {
  color: white;
  text-decoration: none;
}

/* line 66, ../../../cp_prj/sass/screen.scss */
.append-1 {
  padding-left: 20px;
}

/* line 67, ../../../cp_prj/sass/screen.scss */
.append-2 {
  padding-right: 10px;
}

/* line 68, ../../../cp_prj/sass/screen.scss */
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 17px;
  border: none;
}

/* line 70, ../../../cp_prj/sass/screen.scss */
body h1 {
  font-weight: bolder;
  color: white;
}
/* line 74, ../../../cp_prj/sass/screen.scss */
body h3 {
  font-weight: bolder;
  color: #c0c8d0;
  border-bottom: 1px dashed;
  padding-bottom: 6px;
  margin-right: 20px;
}

/* line 82, ../../../cp_prj/sass/screen.scss */
.alt {
  color: white;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}

/* line 88, ../../../cp_prj/sass/screen.scss */
#user_nav {
  font-size: 19px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: url('../images/sassy-ie-overlay.png') repeat-x bottom left #4ba3cc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #6bb3d5), color-stop(51%, #4ba3cc));
  background: -webkit-linear-gradient(#6bb3d5 50%, #4ba3cc 51%);
  background: -moz-linear-gradient(#6bb3d5 50%, #4ba3cc 51%);
  background: -o-linear-gradient(#6bb3d5 50%, #4ba3cc 51%);
  background: linear-gradient(#6bb3d5 50%, #4ba3cc 51%);
  -webkit-box-shadow: #a6d2e6 0 1px 0 inset;
  -moz-box-shadow: #a6d2e6 0 1px 0 inset;
  box-shadow: #a6d2e6 0 1px 0 inset;
  border: 1px solid #3899c6;
  color: white;
  text-shadow: #2a7193 0 -1px 0;
  margin: 10px;
  float: right;
}
/* line 28, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.1/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#user_nav:hover {
  background-color: #3692be;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #4fa5cd), color-stop(51%, #3692be));
  background: -webkit-linear-gradient(#4fa5cd 50%, #3692be 51%);
  background: -moz-linear-gradient(#4fa5cd 50%, #3692be 51%);
  background: -o-linear-gradient(#4fa5cd 50%, #3692be 51%);
  background: linear-gradient(#4fa5cd 50%, #3692be 51%);
}
/* line 31, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.1/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#user_nav:active {
  -webkit-box-shadow: #358fba 0 1px 2px inset;
  -moz-box-shadow: #358fba 0 1px 2px inset;
  box-shadow: #358fba 0 1px 2px inset;
}
/* line 6, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.1/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#user_nav.disabled, #user_nav[disabled] {
  opacity: 0.6;
  background: #4ba3cc;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 94, ../../../cp_prj/sass/screen.scss */
.head {
  width: 900px;
  margin: 10px auto;
}

/* line 98, ../../../cp_prj/sass/screen.scss */
.flash {
  margin: 0 auto;
  text-align: center;
}

/* line 102, ../../../cp_prj/sass/screen.scss */
adminnotice {
  background: #F5EBA3;
  background-position: 15px 50%;
  border-top: 2px solid #ffd324;
  border-bottom: 2px solid #ffd324;
  margin: 0 auto;
  width: 550px;
  color: #5C644C;
  display: block;
}

/* line 115, ../../../cp_prj/sass/screen.scss */
.info {
  text-align: left;
}

/* line 119, ../../../cp_prj/sass/screen.scss */
.libar {
  display: block;
  overflow: hidden;
}

/* line 123, ../../../cp_prj/sass/screen.scss */
.liname {
  float: left;
  display: inline-block;
}

/* line 127, ../../../cp_prj/sass/screen.scss */
.liprog {
  margin-right: 5px;
  float: right;
  display: inline-block;
}

/* line 132, ../../../cp_prj/sass/screen.scss */
sf {
  color: #c52f24;
}
/* line 134, ../../../cp_prj/sass/screen.scss */
sf a {
  color: #c52f24;
}

/* line 138, ../../../cp_prj/sass/screen.scss */
.rewardbox {
  display: none;
}

/* line 141, ../../../cp_prj/sass/screen.scss */
.btclear {
  font-size: 15px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: url('../images/sassy-ie-overlay.png') repeat-x bottom left #4ba3cc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aed6e8), color-stop(50%, #4ba3cc), color-stop(100%, #3289b2));
  background: -webkit-linear-gradient(#aed6e8, #4ba3cc 50%, #3289b2);
  background: -moz-linear-gradient(#aed6e8, #4ba3cc 50%, #3289b2);
  background: -o-linear-gradient(#aed6e8, #4ba3cc 50%, #3289b2);
  background: linear-gradient(#aed6e8, #4ba3cc 50%, #3289b2);
  -webkit-box-shadow: #eaf4f9 0 1px 0 inset;
  -moz-box-shadow: #eaf4f9 0 1px 0 inset;
  box-shadow: #eaf4f9 0 1px 0 inset;
  border: 1px solid #2d7a9e;
  color: white;
  text-shadow: #348eb8 0 -1px 0;
}
/* line 22, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.1/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btclear:hover {
  background-color: #3289b2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a6d2e6), color-stop(50%, #3289b2), color-stop(100%, #297192));
  background: -webkit-linear-gradient(#a6d2e6, #3289b2 50%, #297192);
  background: -moz-linear-gradient(#a6d2e6, #3289b2 50%, #297192);
  background: -o-linear-gradient(#a6d2e6, #3289b2 50%, #297192);
  background: linear-gradient(#a6d2e6, #3289b2 50%, #297192);
}
/* line 25, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.1/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btclear:active {
  -webkit-box-shadow: #297192 0 1px 2px inset;
  -moz-box-shadow: #297192 0 1px 2px inset;
  box-shadow: #297192 0 1px 2px inset;
}
/* line 6, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.1/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btclear.disabled, .btclear[disabled] {
  opacity: 0.6;
  background: #3289b2;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 145, ../../../cp_prj/sass/screen.scss */
button {
  font-weight: bold;
  display: block;
  width: 100px;
  height: 35px;
}

/* line 152, ../../../cp_prj/sass/screen.scss */
sudobox {
  display: block;
}

/* line 161, ../../../cp_prj/sass/screen.scss */
sudobtgroup {
  padding-top: 20px;
  display: block;
  height: 135px;
}

/* line 168, ../../../cp_prj/sass/screen.scss */
.cl_table {
  margin: 0;
  border: 3px solid black;
  border-spacing: 0;
  background: #72868F;
  width: auto;
}
/* line 176, ../../../cp_prj/sass/screen.scss */
.cl_table input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2.7em;
  padding: 0;
  vertical-align: middle;
  border: 0;
  margin: 0;
  line-height: 50px;
}
/* line 188, ../../../cp_prj/sass/screen.scss */
.cl_table td {
  border: 0;
  padding: 1px;
  margin: 0;
}

/* line 206, ../../../cp_prj/sass/screen.scss */
td #c0 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c9 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c18 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c1 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c10 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c19 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c2 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c11 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c20 {
  background: #a1cfc2;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c3 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c12 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c21 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c4 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c13 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c22 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c5 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c14 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c23 {
  background: #bfdebf;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c6 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c15 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c24 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c7 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c16 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c25 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c8 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c17 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c26 {
  background: #a1cfc2;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c27 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c36 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c45 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c28 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c37 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c46 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c29 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c38 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c47 {
  background: #bfdebf;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c30 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c39 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c48 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c31 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c40 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c49 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c32 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c41 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c50 {
  background: #a1cfc2;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c33 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c42 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c51 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c34 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c43 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c52 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c35 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c44 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c53 {
  background: #bfdebf;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c54 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c63 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c72 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c55 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c64 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c73 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c56 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c65 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c74 {
  background: #a1cfc2;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c57 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c66 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c75 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c58 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c67 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c76 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c59 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c68 {
  background: #bfdebf;
}
/* line 215, ../../../cp_prj/sass/screen.scss */
td #c77 {
  background: #bfdebf;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c60 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c69 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c78 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c61 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c70 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c79 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c62 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c71 {
  background: #a1cfc2;
}
/* line 206, ../../../cp_prj/sass/screen.scss */
td #c80 {
  background: #a1cfc2;
}

/* line 225, ../../../cp_prj/sass/screen.scss */
table .blank {
  color: blue;
}

/* line 230, ../../../cp_prj/sass/screen.scss */
.infobox {
  padding: 5px 2px 5px 10px;
  margin: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5385b5), color-stop(40px, #3a5976), color-stop(100%, #3a5976));
  background-image: -webkit-linear-gradient(#5385b5, #3a5976 40px, #3a5976);
  background-image: -moz-linear-gradient(#5385b5, #3a5976 40px, #3a5976);
  background-image: -o-linear-gradient(#5385b5, #3a5976 40px, #3a5976);
  background-image: linear-gradient(#5385b5, #3a5976 40px, #3a5976);
}

/* line 237, ../../../cp_prj/sass/screen.scss */
.infoboxr {
  padding: 5px 2px 5px 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5385b5), color-stop(30%, #3a5976), color-stop(100%, #3a5976));
  background-image: -webkit-linear-gradient(#5385b5, #3a5976 30%, #3a5976);
  background-image: -moz-linear-gradient(#5385b5, #3a5976 30%, #3a5976);
  background-image: -o-linear-gradient(#5385b5, #3a5976 30%, #3a5976);
  background-image: linear-gradient(#5385b5, #3a5976 30%, #3a5976);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 245, ../../../cp_prj/sass/screen.scss */
.rank tr th {
  width: 180px;
  text-align: center;
}
/* line 249, ../../../cp_prj/sass/screen.scss */
.rank td {
  text-align: center;
}

/* line 254, ../../../cp_prj/sass/screen.scss */
.footer {
  margin: 10px;
}
